<div class="container" style="margin-top:0px ;">
    <h1>My Trip</h1>
    <span [innerText]="">{{this.headlineData}}</span>
    <hr>
    <nav class="navbar navbar-inverse" style="height: 80px;">
        <div class="container-fluid">
          <div class="navbar-header">
            <div style="float:left;">
                <img src="../../../assets/images/klmLogo.png" alt="Airfrance logo" style="width:54px;height:31px;">
            </div>
            <div style="float:right;">
               <h3 style="margin-left: 10px;">{{this.airline}} </h3>
            </div>
            <div style="clear:both;"></div>
          </div>
        </div>
      </nav>
        
      <div class="container-fluid text-left">    
        <div class="row content">
          <div class="col-sm-4 sidenav" style="padding-left:40px ;">
            <p>Confirmation Number: {{this.bookingCode}}</p>
            <p>PASSENGERS: {{this.passengers.title.name + " " + this.passengers.lastName + " " +  this.passengers.firstName}}</p>
            <p>Class Of Service: {{this.marketingFlight.operatingFlight.cabin.name}}</p>
            <p>AIRPORT INFO: <br> {{this.origin.name + " (" + this.origin.IATACode + ")"}} 
                             <br> {{this.origin.city.name + " , " + this.origin.city.country.name}}
                             <br> {{ "Terminal " + this.marketingFlight.operatingFlight.arrivalTerminal.name }}
            </p>
            <p>To</p>
            <p> {{this.destination.name + " (" + this.destination.IATACode + ")"}} 
                <br> {{this.destination.city.name + " , " + this.destination.city.country.name}}
            </p>
            <p>FLIGHT INFO: <br>{{this.marketingFlight.operatingFlight.equipment.name}}</p>
          </div>
        </div>
      </div>
</div>
