<div class="form-container">
    <h2>RETRIEVE YOUR BOOKING <br> _ </h2>
    <p class="marTop34px">You can find your boking by filling out your family name and the booking code in your booking confirmation</p>
    <form>
        <div class="marTop34px">
            <div class="form-group">
                <label for="email">Booking code</label>
                <input type="email" class="form-control marTop5px rounded-0" id="email" placeholder="Enter booking code">
              </div>
              <div class="form-group marTop11px">
                <label for="pwd">Family name</label>
                <input type="password" class="form-control marTop5px rounded-0" id="pwd" placeholder="Enter family name">
              </div>
        </div>
        <div class="form-group marTop34px" style="text-align:center;">
            <button type="button" class="btn btn-danger rounded-0" >Retrieve booking</button>
        </div>
    </form>
</div>